.PlanBody {
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
}

.PlanTitle {
	position: absolute;
	top: 35%;
	width:  100%;
	text-align: center;
	transform: translate(0%, -50%);
	color: #fff;
	font-size: 3em;
}

.PlanList {
	position: absolute;
    transform: translate(20%, 45%);
	width: 100%;
	text-align: left;
}

.PlanList ul li {
	list-style-type: decimal;
	padding: 0;
}

.PlanList li {
	margin: 25px 10px;
	list-style-type: decimal;
	color: #fff;
	text-decoration: none;
	font-size: 2.5em;
}

.PlanList li a {
	color: #fff;
	text-decoration: none;
}

.PlanList li a:hover {
	color: rgb(74, 147, 255);
	font-size: 1em;
}

.PlanList li:hover {
	color: rgb(74, 147, 255);
	font-size: 2.7em;
}

.PlanBody textarea::placeholder {
    color: white; /* Gray color */
    font-style: italic;
    font-weight: normal;
  }

/* Demo */
.DemoP {
	margin: 15px 10px;
	text-align: left;
	color: #fff;
	font-size: 1.35em;
	text-decoration: none;
}

.DemoUL {
	transform: translate(0%, 50%);
}

/* CEO */

.CEO {
	position: fixed;
	bottom: 0;
	left: 0;
	transform: translate(0%,0%);
	color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-family: "Comic Sans MS";
}

.TIME h1 {
	position: fixed;
	bottom: 0;
	right: 0;
	transform: translate(0%,50%);
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	font-family: "Comic Sans MS";
}

/* Documents */
.Document {
	background: #000;
}

.Document .MainBody {
	width: 80%;
	height: 100%;
	align-items: center;
	padding-bottom: 100px;
}

.Document h1 {
	font-size: 2.5em;
	color: #fff;
	text-align: center;
	position: revert;
	bottom: revert;
	right: revert;
	transform: revert;

}

.Document blockquote {
	color: #fff;
	font-size: 1em;
}

.Document h2 {
	font-size: 1.8em;
	color: #fff;
}

.Document h3 {
	font-size: 1.5em;
	color: #fff;
	margin: 15px 0;
}

.Document p {
	font-size: 1.2em;
	color: #fff;
}

.Demo img {
	width: 1px;
	height: 1px;
	display: none;
}

.picture-grid1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr); /* Keeps the 2-column layout */
	grid-column-gap: 10px; /* Adjusts the gap between columns (horizontal) */
	grid-row-gap: 0px; /* Reduces the gap between rows (vertical) */
	max-width: 600px; /* Adjust based on your preference */
	margin: auto; /* Center the grid horizontally */
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	place-items: center;
}

.picture-grid1 img {
	width: 100%; /* Makes images fill their container */
	height: 100%; /* Maintains aspect ratio */
	align-items: center; 
	justify-content: center;
	object-fit: fill;
		max-height: 300px;
	}

.picture-grid2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Keeps the 2-column layout */
	grid-column-gap: 75px; /* Adjusts the gap between columns (horizontal) */
	grid-row-gap: 0px; /* Reduces the gap between rows (vertical) */
	max-width: 800px; /* Adjust based on your preference */
	margin: auto; /* Center the grid horizontally */
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	place-items: center;
		}

.picture-grid2 img {
	width: 100%; /* Makes images fill their container */
	height: 100%; /* Maintains aspect ratio */
	align-items: center; 
	justify-content: center;
	object-fit: fill;
	max-width: 400px;
	max-height: 300px;
	}
