
/* transform works relative to the element's own size */
textarea {
    position: relative;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    line-height: 50%;
    overflow: hidden;
    resize: none;
    /*transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease, width 0.6s ease .1s, height 0.6s ease .1s, line-height 0.5s ease; */
    transition: top 0.5s ease, left 0.5s ease;
  }
  
  @media (max-width: 600px) {
      textarea {
          width: 70%;
          line-height: normal;
      }
  }
  
  textarea::placeholder {
    color: #ffffff; /* Gray color */
    font-style: italic;
    font-weight: normal;
  }
  
  textarea:focus {
    outline: none;
  }
  
  /* the header to display color */
  h1 {
      position: absolute;
      bottom: 0%;
      right: 0%;
      transform: translate(-20%, -30%);
      color: white;
  }
  
  /* convert this style={{background: color, width: "100%", height: "100%", position: "fixed"}} to a css for TextAreaApp */
  .TextAreaApp {
      width: 100%;
      height: 100%;
      position: fixed;
      transition: height 0.5s ease-out;
  }

  .TestLink {
	  position: absolute;
	  bottom: 0%;
	  left: 0%;
	  transform: translate(50%,50%);
  }

  .QOTD {
	  position: absolute;
	  top: 10%;
	  right: 50%;
	  text-wrap-mode: nowrap;
	  transform: translate(50%,25%);
	  font-size: 50px;
	  color: black;
  }
